
.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.logocon{
    margin-left: 30px;
}

.logo{
    width: 50px;
    height: 50px;
}

.navitems > ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.navitems>ul>li{
    padding: 10px;
    margin: 10px;
}
.search{
    margin: 20px;
    
}

.rescon{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;

}

.reslogo{
    width: 200px;
    height: 150px;
}


.rescard{
    padding: 5px;
    margin: 10px;
    width: 200px;
    height: 350px;
    border: 1px solid black;
}

